<div style="margin-top: 30px">
  {{ traceRendering(user.id.toString()) }}
  <!-- Individual form -->
  <div style="height: 100px">
    <form [formGroup]="userForm">
      <div>
        <label for="name">Name</label>
        <input
            formControlName="name"
            id="name"
            type="text"
            class="form-control">
      </div>
      <div>
        <label for="phone">Phone</label>
        <input
            formControlName="phone"
            id="name"
            type="text"
            class="form-control">
      </div>
    </form>
  </div>
