
$ballDiameter: 25px;
$coolRed: #c0392b;
$fieldColor: #95a5a6;

.circle {

    width: $ballDiameter;
    height: $ballDiameter;
    border-radius: 25px;
}

.red {
    background-color: $coolRed;
}

.red-border {

    border: 1px solid $coolRed;
}

.float-free {

    position: absolute;
}

.fence {
    width: 1400px;
    height: 1000px;
}

.fixed {

    position: fixed;
}

.field {

    background-color: $fieldColor;
}

