
$ballDiameter: 25px;
$coolRed: #c0392b;
$coolGreen: #2ecc71;
$fieldColor: #2c3e50;
$coolYellow: #f1c40f;

.circle {

    width: $ballDiameter;
    height: $ballDiameter;
    border-radius: 25px;
}

.red {
    background-color: $coolRed;
}

.green {
    background-color: $coolGreen;
}

.yellow {
    background-color: $coolYellow;
}

.red-border {

    border: 1px solid $coolRed;
}

.float-free {

    position: absolute;
}

.fence {
    width: 1400px;
    height: 1000px;
}

.fixed {

    position: fixed;
}

.field {

    background-color: $fieldColor;
}

